<h4 class="text-center">Login</h4>

<form class="mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome do usuario"
      name="usuario"
      [(ngModel)]="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuário obrigatório"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      name="senha"
      [(ngModel)]="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha obrigatória"
    ></app-mensagem>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </div>
</form>
